<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30" status="OFF">
     <appenders>
         <console name="Console" target="SYSTEM_OUT">
         	<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%date %level [%thread] %logger{36} [%file : %line] %msg%n"/>
         </console>

         <RollingFile name="RollingFile" fileName="logs/da-sj.log"
                      filePattern="logs/$${date:yyyy-MM}/da-sj-%d{yyyy-MM-dd}-%i.log">
             <PatternLayout pattern="%date %level [%thread] %logger{36} [%file : %line] %msg%n"/>
             <Policies>
                 <TimeBasedTriggeringPolicy/>
             </Policies>
         </RollingFile>
         
         <RollingFile name="druidSqlRollingFile" fileName="./logs/druid-sql.log"
                     filePattern="logs/$${date:yyyy-MM}/api-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %L %M - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
     </appenders>

     <loggers>
        <root level="debug">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
 
        <!--记录druid-sql的记录-->
        <logger name="com.atomikos.jdbc" level="debug" additivity="false">
        	<appender-ref ref="Console"/>
            <appender-ref ref="druidSqlRollingFile"/>
        </logger>
 
        <!--log4j2 自带过滤日志-->
        <Logger name="org.apache.catalina.startup.DigesterFactory" level="error" />
        <Logger name="org.apache.catalina.util.LifecycleBase" level="error" />
        <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />
        <logger name="org.apache.sshd.common.util.SecurityUtils" level="warn"/>
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />
        <Logger name="org.crsh.plugin" level="warn" />
        <logger name="org.crsh.ssh" level="warn"/>
        <Logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="error" />
        <Logger name="org.hibernate.validator.internal.util.Version" level="warn" />
        <logger name="org.springframework.boot.actuate.autoconfigure.CrshAutoConfiguration" level="warn"/>
        <logger name="org.springframework.boot.actuate.endpoint.jmx" level="warn"/>
        <logger name="org.thymeleaf" level="warn"/>
     </loggers>
 </configuration>