<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bocom.mapper.main.ProcessorMapper" >

	<select id="queryProcessor" parameterType="cn.bocom.entity.Processor" resultType="cn.bocom.entity.Processor">
    	select * from t_col_processor where 1=1
    	<if test="id != null and id != ''">
	       and id=#{id}
	    </if>
		<if test="type != null and type != ''">
	       and type=#{type}
	    </if>
	    <if test="ds_type != null and ds_type != ''">
	       and ds_type like '%${ds_type}%'
	    </if>
	    <if test="category != null and category != ''">
	       and category=#{category}
	    </if>
  	</select>
	
</mapper>